/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
  font-family: "Cinzel", serif;
}
p {
  font-family: "Mulish", Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 8rem;
  font-weight: 400;
  margin: 0;
}
h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0;
}
/******************************************
/* Header
/*******************************************/
header {
  height: 4rem;
  padding: 0 5rem;
  line-height: 4rem;
  text-align: center;
  background: white;
}
header img {
  float: left;
}
header a {
  color: black;
}
header li {
  padding: 0 1rem;
}
header button {
  line-height: 1rem;
  float: right;
}

/******************************************
/* 'Above the Fold'
/*******************************************/
#top-section {
  position: relative;
  color: white;
  padding: 14rem 0 4rem 10rem;
  background: url("https://media.discordapp.net/attachments/769333550008369182/782291098680426516/salon-main-img.jpg?width=705&height=518")
    center center no-repeat;
  background-size: cover;
}
#top-section > section {
  margin-top: 10rem;
}
#top-section div {
  width: 50%;
  margin: 3rem 0;
  padding: 1rem 0;
}
#top-section .btn {
  margin: 2.5rem 0rem;
}
#top-section .vertical-text {
  position: absolute;
  right: -4.5rem;
  top: 40%;
  transform: rotateZ(90deg);
  font-size: 1.4rem;
}
#top-section .coupon {
  width: 20%;
  background: black;
  padding: 1rem 0;
  margin-bottom: 5rem;
}
.coupon h4 {
  border-left: 3px solid white;
  padding: 2rem;
  margin: 1rem 0;
  font-size: 1.2rem;
}
#top-section .coupon .btn {
  margin-left: 2rem;
}

/******************************************
/* Services
/*******************************************/
#services-section {
  padding: 4rem 16rem;
}
#services-section > section {
  width: 33.333%;
  padding: 4rem;
  float: left;
  text-align: center;
  line-height: 2rem;
}
#services-section i {
  font-size: 4rem;
  position: relative;
}
#services-section i:after {
  content: "";
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: -1rem;
  left: -1rem;
  background: rgba(200, 200, 200, 0.4);
  border-radius: 50%;
  z-index: -1;
}
#services-section h2 {
  font-weight: 600;
}

/******************************************
/* About Us
/*******************************************/
#about-section {
  padding: 5rem 15rem;
  background: rgb(243, 244, 246);
}
#about-section div {
  width: 50%;
  float: left;
  padding-right: 5rem;
}
#about-section h2 {
  font-size: 4rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
}
#about-section p {
  margin: 2rem 0;
  font-size: 1.3rem;
  line-height: 2.5rem;
}
#about-section img {
  width: 50%;
  height: auto;
}

/******************************************
/* Staff
/*******************************************/
#staff-section {
  padding: 5rem 15rem;
}
#staff-section > section {
  width: 33.333%;
  float: left;
  padding: 0 1rem;
  position: relative;
}
#staff-section img {
  width: 100%;
  height: auto;
}
#staff-section div {
  position: relative;
  width: 90%;
  left: 5%;
  bottom: 3rem;
  padding: 1rem;
  background: black;
  text-align: center;
  color: white;
  line-height: 2rem;
}

/******************************************
/* Offer Section
/*******************************************/
#offer-section {
  padding: 4rem 15rem;
}
#offer-section div {
  background: rgb(243, 244, 246);
  padding: 8rem 6rem;
}
#offer-section h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
#offer-section .coupon p {
  font-size: 2rem;
  padding-left: 0;
  margin: 2rem 0;
  line-height: 3.5rem;
}

/******************************************
/* Lookbook
/*******************************************/
#lookbook-section {
  padding: 4rem 15rem;
  text-align: center;
}
#lookbook-section h2,
#lookbook-section span {
  font-size: 3.5rem;
  font-weight: 400;
  display: block;
  margin: 1rem;
}
#lookbook-section span {
  margin-bottom: 2rem;
}
#lookbook-section .column {
  width: 33.333%;
  float: left;
}
#lookbook-section img {
  width: 100%;
  height: auto;
  padding: 0.5rem;
}

/******************************************
/* Utility Classes
/*******************************************/
.inline {
  display: inline;
}
.btn {
  border: 0;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
  cursor: pointer;
}
.btn-white {
  background: white;
  color: black;
}
.btn-black {
  background: black;
  color: white;
}
.coupon span {
  font-weight: 700;
  font-size: 3rem;
  margin-right: 1rem;
}
.coupon p {
  font-family: "Cinzel", serif;
  font-size: 1.7rem;
  padding: 0 2rem;
  margin: 0;
  line-height: 3rem;
}

/******************************************
/* Mobile Responsiveness
/*******************************************/

@media screen and (max-width: 800px) {
  #services-section,
  #staff-section {
    padding: 4rem 2rem;
  }
  #about-section,
  #offer-section,
  #lookbook-section {
    padding: 3rem;
  }
  #top-section .coupon {
    width: 35%;
  }
  #about-section div {
    width: 100%;
    float: none;
  }
  #about-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: 3rem auto;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 5rem;
  }
  h3 {
    font-size: 1rem;
  }
  #top-section {
    padding: 1rem;
  }
  #top-section > section {
    margin-top: 1rem;
  }
  #top-section div {
    width: 100%;
  }
  #top-section .coupon {
    width: 60%;
  }
  #top-section .vertical-text {
    top: 50%;
  }
  #services-section > section {
    float: none;
    width: 80%;
    margin: auto;
  }
  #staff-section > section {
    width: 100%;
    float: none;
  }
}
