/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(22, 31, 42);
}
html {
  font-size: 62.5%;
}
:root {
  --navy: rgb(102, 118, 138);
  --lightgray: rgb(219, 223, 226);
}
ul {
  list-style: none;
}
/******************************************
/* Header
/*******************************************/
header {
  padding: 1rem 3rem;
  background: var(--navy);
}
header a {
  text-decoration: none;
}
nav * {
  display: inline;
}
nav li {
  display: inline;
  margin: 0.9rem 0.75rem;
  float: left;
  font-size: 1.2rem;
}
nav img {
  width: 3rem;
  height: auto;
}
nav button {
  padding: 1rem;
  background: rgb(241, 241, 241);
  border: none;
  border-radius: 0.5rem;
  color: var(--navy);
  font-weight: 700;
  float: right;
}
header * {
  color: rgb(241, 241, 241);
}
header h1 {
  font-size: 5rem;
  text-transform: uppercase;
  margin-top: 5rem;
  clear: both;
}
header p {
  width: 55%;
  margin: auto;
  font-size: 1.2rem;
}
header > a {
  margin: 2rem 0;
  display: block;
  font-size: 1.2rem;
}
header i {
  margin: 1rem 1rem 1rem 0;
}
header > span {
  display: block;
  margin: 4rem 0 1rem 0;
  font-size: 0.8rem;
  color: rgb(22, 31, 42);
  font-style: italic;
}

/******************************************
/* Main
/*******************************************/
main > section {
  padding: 7rem 0;
}
main > section h2 {
  font-size: 2.5rem;
}
main > section p {
  width: 25%;
  margin: 1rem auto;
  font-size: 1.1rem;
  color: rgb(22, 31, 42);
  font-weight: 200;
  line-height: 1.5rem;
}

#services-section {
  background-color: var(--lightgray);
}
#services-section > section {
  display: inline-block;
  width: 25%;
  margin: 0 0.5rem;
}
#services-section > section h4 {
  font-size: 1.3rem;
  margin: 1.3rem 0;
}
#services-section > section p {
  margin: auto;
  padding: 0;
  width: 95%;
}
img[src="gray_background.png"] {
  filter: blur(0.09rem);
}

main button {
  margin: 1.3rem;
  padding: 1rem 3rem;
  background: transparent;
  border: 0.1rem solid rgb(151, 151, 151);
}

#volunteer-section p {
  width: 40%;
}
/******************************************
/* Footer
/*******************************************/
footer {
  background: rgb(22, 31, 42);
}
footer * {
  color: rgb(241, 241, 241);
}
