/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
  --lightgray: rgb(245, 249, 252);
  --darkgray: rgba(225, 233, 240, 0.9);
  --darknavy: rgba(48, 70, 89, 0.9);
}
html {
  font-size: 62.5%;
}
body {
  padding: 2.5rem 5rem;
  background: var(--lightgray);
  color: var(--darknavy);
  font-family: "Assistant", Arial, Helvetica, sans-serif;
}
svg {
  width: 20%;
  height: auto;
  line-height: 1rem;
}
a {
  text-decoration: none;
  color: var(--darknavy);
}
button {
  padding: 1rem 3rem;
  background: var(--darknavy);
  color: whitesmoke;
  font-size: 1.3rem;
  box-shadow: 0rem 0rem 0.3rem rgba(0, 0, 0, 01);
  border: none;
}
/******************************************
/* Nav
/*******************************************/
nav {
  width: 100%;
  height: 4rem;
  margin-bottom: 8rem;
  text-align: center;
}
nav * {
  display: inline;
}
.logo {
  float: left;
  font-size: 3rem;
  font-weight: 700;
}
nav ul {
  padding: 0;
}
nav li {
  display: inline-block;
  font-size: 1.5rem;
  margin: 1rem 2rem;
}
nav button {
  float: right;
}
/******************************************
/* Main
/*******************************************/
/******************
/* Call to Action
/******************/
#call-to-action-section {
  position: relative;
}
#call-to-action-section:before {
  content: "";
  background: url("../iphone_laptop.png") 100% 100% no-repeat;
  background-size: contain;
  position: absolute;
  top: -2.5rem;
  right: -5rem;
  bottom: -2.5rem;
  left: 0;
  z-index: -1;
}
#call-to-action-section span {
  font-weight: 700;
  color: rgb(197, 208, 216);
}
#call-to-action-section h1 {
  width: 40%;
  font-size: 3.5rem;
  font-weight: 600;
}
#call-to-action-section input {
  width: 30%;
  line-height: 3.5rem;
  margin: 0 0.1rem;
  padding-left: 1rem;
  background: var(--darkgray);
  border: none;
}
#call-to-action-section p {
  width: 35%;
  margin: 2rem 0;
  line-height: 2rem;
  font-size: 1.3rem;
}

/******************
/* Features
/******************/
#features-section {
  clear: both;
  padding: 10rem 0;
}
#features-section > section {
  width: 25%;
  float: left;
  padding: 0 2rem 5rem 0;
}
#features-section img {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid var(--darknavy);
  margin: 2rem 0;
}
#features-section h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0;
}
#features-section p {
  font-size: 1.1rem;
}
#features-section a {
  font-weight: 700;
}
/******************
/* Process 
/******************/
#process-section {
  clear: both;
  position: relative;
  left: -5rem;
  width: calc(100% + 10rem);
  padding: 3rem 5rem;
  background: white;
}
#process-section h2 {
  width: 50%;
  margin: 0;
  font-size: 4rem;
  font-weight: 600;
}
#process-section p {
  width: 55%;
  font-size: 1.3rem;
  line-height: 2rem;
  color: rgb(197, 208, 216);
}
#process-section div {
  width: 100%;
  height: 40rem;
  margin: 4rem 0;
  background: var(--darkgray);
}

/******************************************
/* Media Queries
/*******************************************/
@media screen and (max-width: 650px) {
  /*** Collapse Menu ***/
}

@media screen and (max-width: 450px) {
  #features-section > section {
    width: 100%;
  }
}
