/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.relative-container {
  display: inline;
  position: relative;
  z-index: -1;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
  --darkorange: rgb(255, 136, 0);
  --lightorange: rgb(255, 170, 77);
  --bluegray: rgb(242, 246, 247);
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
h1,
h2 {
  font-family: "Playfair Display", serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
/******************************************
/* Header
/*******************************************/
header {
  padding: 0 5rem;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=931&q=80")
    0 0 no-repeat;
  transform: rotateY(180deg);
  background-size: cover;
}
/*** NavBar ***/
#toggle {
  display: none;
}
nav label {
  font-size: 2rem;
  float: right;
  display: none;
}
nav {
  height: 4rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  text-align: right;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
nav * {
  display: inline;
  line-height: 4rem;
}
nav img[src="cuisine_logo"] {
  float: left;
}
nav ul {
  margin: 0;
}
nav li {
  padding: 0 1.5rem;
}
nav li i {
  font-size: 1.4rem;
}
nav a {
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

/*** Welcome ***/
#welcome {
  padding: 6rem 0;
  width: 66.666%;
  z-index: -10;
}
#welcome h1 {
  font-size: 5rem;
  font-weight: 700;
  margin: 1rem 0;
}
#welcome form {
  margin: 2rem 0;
  width: 60%;
  max-width: 50rem;
}
#welcome form > div {
  display: inline;
  position: relative;
  z-index: -1;
}
#welcome form i {
  position: absolute;
  top: 0.2rem;
  left: 1rem;
  font-size: 1.1rem;
  color: gray;
}
#welcome input {
  width: 75%;
  height: 3rem;
  margin: 0;
  padding: 0 3rem;
  caret-color: var(--lightorange);
  border: 1px solid rgb(238, 240, 245);
  box-shadow: 0 0 0.1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  z-index: -1000;
}
#welcome button {
  width: 25%;
  margin: -0.3rem;
  background: var(--darkorange);
  color: white;
  padding: 0.9rem 1.5rem;
  box-shadow: 0 0 0.2rem orange;
  border: 1px solid orange;
  border-radius: 0 0.5rem 0.5rem 0;
}
#socials {
  width: 50%;
  padding: 1rem 0;
  font-size: 1.3rem;
}
#socials span {
  width: 33.333%;
  float: left;
}
#socials i {
  margin-right: 0.75rem;
  color: var(--darkorange);
}
/******************************************
/* Main
/*******************************************/
main {
  width: 100%;
}
main section {
  padding: 8rem 4rem 4rem 4rem;
}
main h2 {
  margin-top: 0;
}
span.section-title {
  color: var(--darkorange);
  font-size: 1.5rem;
}
/*** About Us ***/
#about-us {
  position: relative;
  padding-bottom: 8rem;
  z-index: -1;
}
#about-us:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(
      to right,
      transparent,
      white 40%,
      white 80%,
      transparent
    ),
    url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1047&q=80");
  background-size: cover;
}
#about-us > div {
  width: 50%;
  float: right;
  margin-right: 12rem;
}
#about-us h2 {
  font-size: 3.5rem;
}
#about-us p {
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: justify;
}
#about-us p:nth-child(2) {
  margin: 2rem 0;
}
#about-us button {
  width: 25%;
  height: 3rem;
  margin: 2rem 0;
  background: var(--darkorange);
  color: white;
  box-shadow: 0 0 0.2rem var(--darkorange);
  border: 1px solid var(--darkorange);
  border-radius: 0.5rem 0 0 0.5rem;
  position: relative;
}
#about-us button:after {
  content: "\279e";
  padding: 1rem 0.75rem;
  background: var(--lightorange);
  border: 1px solid var(--lightorange);
  box-shadow: 0 0 var(--lightorange);
  border-radius: 0 0.5rem 0.5rem 0;
  position: absolute;
  right: -2.5rem;
  top: -0.1rem;
  bottom: -0.1rem;
  z-index: -1;
}

/*** Order Online ***/
#order-online {
  width: 100%;
  background: linear-gradient(to top right, rgb(219, 229, 234), white);
  text-align: center;
}
#order-online h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
#menu-list {
  width: 75%;
  margin: 0 auto 3rem auto;
}
#menu-list li {
  display: inline;
  padding: 1.5rem 0;
  border-bottom: 0.1rem solid gray;
  font-size: 1.2rem;
}
#menu-list div {
  display: inline-block;
  width: 19%;
  padding: 2rem 0;
}
#menu-list li.active {
  font-weight: 600;
  color: var(--darkorange);
  border-bottom: 0.1rem solid var(--darkorange);
}
#menu-list li.active a {
  color: var(--darkorange);
}
#menu-items img {
  width: 25%;
  height: auto;
  padding: 1.5rem;
  float: left;
}
.selectors {
  margin-top: 2rem;
}
.selectors span.dot {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0.5rem;
  display: inline-block;
  border-radius: 50%;
  background: rgb(240, 201, 151);
}
.selectors span.dot.active {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.25rem 0.5rem;
  box-shadow: 0 0 0.5rem var(--darkorange);
  background: var(--darkorange);
}

/*** Book Table ***/
#book-table {
  text-align: center;
  position: relative;
  padding-bottom: 8rem;
  z-index: -1;
}
#book-table:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url("https://images.unsplash.com/photo-1590147540852-8698a2a7f742?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=633&q=80")
    center center no-repeat;
  background-size: cover;
  opacity: 0.2;
}
#book-table * {
  margin: 1rem 0;
}
#book-table h2 {
  margin-bottom: 3rem;
  font-size: 4rem;
}
#book-table i {
  font-size: 2.5rem;
  padding: 1rem;
  color: var(--darkorange);
  border-radius: 50%;
  border: 0.1rem solid var(--lightorange);
}
#book-table span,
#book-table a {
  display: block;
}
#book-table a {
  color: var(--darkorange);
  font-size: 2rem;
}
#book-table div#hours {
  width: 60%;
  margin: 0 auto 2rem auto;
}
#book-table div#hours div {
  width: 40%;
  float: left;
  text-align: left;
  padding: 0 5rem;
}
#book-table div#hours div:nth-child(2) {
  float: right;
  padding-right: 0rem;
}
div#hours span {
  font-size: 1.1rem;
}
div#hours time {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: bold;
}
div#video {
  position: relative;
  width: 90%;
  margin: auto;
}
div#video i {
  position: absolute;
  font-size: 1.5rem;
  padding: 1rem 1.4rem;
  top: calc(50% - 2.5rem);
}
div#video i.fas.fa-angle-left {
  left: 0;
}
div#video i.fas.fa-angle-right {
  right: 0;
}
div#video video {
  width: 70%;
  margin: 0 auto;
  border: 1px solid black;
}

/*** Testimonials ***/
#testimonials {
  text-align: center;
  position: relative;
  margin-bottom: 0;
  z-index: -1;
}
#testimonials:before {
  content: '"';
  display: inline-block;
  vertical-align: middle;
  font-size: 70rem;
  overflow: hidden;
  color: rgb(247, 247, 248);
  font-family: cursive;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("https://images.unsplash.com/photo-1530842128367-9e448d986a75?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=675&q=80");
  background: linear-gradient(to right, rgb(219, 225, 231), white 15%);
}
#testimonials h2 {
  font-size: 4rem;
}
#testimonials img {
  display: block;
  margin: 1rem auto;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
#testimonials span:not(.dot) {
  display: block;
}
#testimonials .name {
  font-size: 2rem;
}
#testimonials .title {
  font-size: 1.1rem;
  color: gray;
}
#testimonials p {
  margin: 0;
  font-style: italic;
  line-height: 2.5rem;
  font-size: 1.3rem;
}
div#rating i {
  margin: 2rem 0.25rem;
  font-size: 1.5rem;
  color: gold;
}

/******************************************
/* Responsiveness
/*******************************************/
@media screen and (max-width: 680px) {
  nav ul {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    z-index: 10;
  }
  nav label {
    margin: 0.3rem 2rem;
    display: unset;
    cursor: pointer;
  }
  nav li {
    width: 100%;
    display: block;
    visibility: hidden;
    background: var(--bluegray);
    border-bottom: 0.1rem solid black;
  }
  #toggle:checked ~ ul li {
    visibility: unset;
  }
}

@media screen and (max-width: 450px) {
  header::before {
    opacity: 0.2;
  }
  #welcome {
    width: 100%;
  }
  #welcome form {
    width: 100%;
  }
  #about-us::before {
    background-image: linear-gradient(
        to right,
        transparent,
        var(--bluegray) 40%
      ),
      url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1047&q=80");
  }
  #about-us > div {
    width: 90%;
    margin-right: 0;
  }
  #about-us button {
    width: 50%;
  }
  #menu-list {
    width: 100%;
    text-align: center;
  }
  #menu-list li {
    font-size: 1.1rem;
  }
  #menu-items li {
    display: block;
    width: 75%;
    margin: auto;
  }
  #menu-items img {
    display: block;
    width: 100%;
    margin: auto;
  }
  .selectors span.dot {
    width: 0.5rem;
    height: 0.5rem;
  }
  .selectors span.dot.active {
    width: 1rem;
    height: 1rem;
  }
  #book-table div#hours {
    margin: 2rem 0;
    width: 100%;
  }
  #book-table div#hours div {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
  }
  #book-table div#hours div:nth-child(2) {
    float: none;
    padding: 0;
  }
  div#video {
    width: 100%;
  }
}
