/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.relative-container {
  display: inline;
  position: relative;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
  --darkorange: rgb(255, 136, 0);
  --lightorange: rgb(255, 170, 77);
  --bluegray: rgb(242, 246, 247);
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
h1,
h2 {
  font-family: "Playfair Display", serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/******************************************
/* Header
/*******************************************/
header {
  background: linear-gradient(
    to top right,
    rgb(219, 229, 234),
    rgb(243, 249, 249)
  );
}
/*** NavBar ***/
nav {
  width: 100%;
  height: 4rem;
  padding: 0 4rem;
  position: fixed;
  top: 0;
  text-align: right;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
nav * {
  display: inline;
  line-height: 4rem;
}
nav img[src="cuisine_logo"] {
  float: left;
}
nav ul {
  margin: 0;
  padding: 0 1rem;
}
nav a {
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

/*** Welcome ***/
#welcome {
  padding: 6rem 4rem;
  width: 66.666%;
}
#welcome h1 {
  font-size: 5rem;
  font-weight: 700;
  margin: 1rem 0;
}
#welcome form {
  margin: 2rem 0;
  max-width: 50rem;
}
#welcome form i {
  position: absolute;
  top: 0.2rem;
  left: 1rem;
  font-size: 1.1rem;
  color: gray;
}
#welcome input {
  width: 60%;
  height: 3rem;
  margin: 0;
  padding: 0 3rem;
  caret-color: var(--lightorange);
  border: 1px solid rgb(238, 240, 245);
  box-shadow: 0 0 0.1rem;
  border-radius: 0.5rem 0 0 0.5rem;
}
#welcome button {
  width: 15%;
  margin: -0.3rem;
  background: var(--darkorange);
  color: white;
  padding: 0.9rem 1.5rem;
  box-shadow: 0 0 0.2rem orange;
  border: 1px solid orange;
  border-radius: 0 0.5rem 0.5rem 0;
}
#socials {
  width: 50%;
  padding: 1rem 0;
  font-size: 1.3rem;
}
#socials span {
  width: 33.333%;
  float: left;
}
#socials i {
  margin-right: 0.75rem;
  color: var(--darkorange);
}
/******************************************
/* NavBar
/*******************************************/ ;
