/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
}

/******************************************
/* LAYOUT
/*******************************************/
nav {
  width: 100%;
  height: auto;
}
nav * {
  float: left;
  margin: auto;
}

header {
  clear: both;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
