/* Please Make only Rhino and Zebra Blue */
.top h2 {
  color: blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse {
  color: gold;
}
/* Please select Duck with the highest level of specificity possible 
  NOTE: start at the element and work backwards/up
*/
html
  body
  h1#hi
  + section.top
  + section.middle
  + article.areDucksDinosaurs
  h2.likesToQuack.fight1Or100 {
  color: green !important;
}
/* Please select Rhino with the highest level of specificity possible */
html body h1#hi + section.top h2#rhino.africa.fourLegs:first-child {
  background-color: gray !important;
}
